<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f28a86c7-dbf0-459f-9464-4ac8ebd56d4a" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f28a86c7-dbf0-459f-9464-4ac8ebd56d4afileName">TestSuite-1</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>